h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 2vw;
    flex-flow: row-reverse;
}
.pic{
   width: max-content;
   align-self: center;
}
.pic img{
    width: 50vw;
}
.data{
    align-self: center;
}
.selection  button:hover{
    background-color: grey;
}
.selection button{
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
.selection  input{
    padding: 15px 30px;
    border-radius: 10px;
    border: black 1px solid;
    margin-right: 2vw;
    margin-bottom: 20px;
}
.headding{
    display: flex;
    justify-content: space-between;
}
.list li{
    list-style: none;
    padding-bottom: 10px;
    display: flex;
    
}

.task p{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #FF1E00;
    color: white;
}
.Finish_work p {
   
    background-color: #59CE8F;
}

.but{
    padding: 10px;
    font-weight:900;
    
}

.Delete_but{
    color: #FF1E00; 
}
.Delete_but:hover{
    color: #FF6666;
}
.Finish_but{
    color: #59CE8F;
}
.Finish_but:hover{
    color:#CBFFA9;
}
.Ebut:hover{
    color: gray;
    
}
.editing p{
    border: 0px;
    outline: 0 ;
    background: black;
}
    /* padding: 5px 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: black 1px solid;
    border-radius: 4px;  */
.but:hover{
    cursor: pointer;
}
.Finish_but_last{
    padding: 5px 10px;
    margin: auto;
    background-color: black;
    color: white;
    border: black 1px solid;
    border-radius: 4px; 
}
.mark{
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.score h3{
    padding-bottom: 0;
    margin-bottom: 0;
}
.Eneble p{
    background-color: #F3E99F;
    color: black;
}
@media only screen and (max-width:1000px){
    .main{
        display: block;
        justify-content: center;
    }
    .pic img{
        width: 90vw;
        margin: auto;
    }
    .list{
        padding: 0;
    }
    
}